@import 'tailwindcss';

@font-face {
    font-family: 'Gluten';
    src: url('/fonts/Gluten-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoColorEmoji';
    src: url('/fonts/NotoColorEmoji-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'Pecita';
    src: url('/fonts/Pecita.otf') format('opentype');
}

@font-face {
    font-family: 'PlaywriteUSModern';
    src: url('/fonts/PlaywriteUSModern-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenDyslexic3';
    src: url('/fonts/OpenDyslexic3-Regular.ttf') format('truetype');
}

@theme {
    --font-gluten: 'Gluten', cursive;
    --font-satoshi: 'Satoshi', sans-serif;
    --font-notoColorEmoji: 'NotoColorEmoji', sans-serif;
    --font-pecita: 'Pecita', serif;
    --font-playwriteUSModern: 'PlaywriteUSModern', sans-serif;
    --font-opendyslexic3: 'OpenDyslexic3', sans-serif;
}

[data-accessibility-font="true"] * {
    font-family: OpenDyslexic3, sans-serif !important;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-satoshi), serif;
}

:root {
    --text-size-multiplier: 1;
}

body {
    overflow-x: hidden;
}

/* Loading state */
.loading-placeholder {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 9999px;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}